<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
<!-- footer block -->
<footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
            <div class="row footer-top-29">

                <div class="col-lg-3 col-md-6 footer-list-29">
                    <img src="/assets/images/BITC_logo2.png" style="width: 100%">
                </div>
                <div class="col-lg-4 col-md-6 footer-list-29">
                    <h6 class="footer-title-29">Contact Info </h6>
                    <p class="mb-2 pe-xl-5">Address : 66 Vo Van Tan, Thanh Khe, Da Nang.
                    </p>
                    <p class="mb-2">Phone Number : <a href="">+84 814254442</a></p>
                    <p class="mb-2">Email : <a href="hoanglvjob3@gmail.com">hoanglvjob3@gmail.com</a></p>
                </div>


                <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
                    <ul>
                        <h6 class="footer-title-29">Quick Links</h6>
                        <li><a th:href="@{/about}">About Us</a></li>
                        <li><a th:href="@{/courses}">Courses</a></li>
                        <li><a th:href="@{/contact}">Become a Member</a></li>
                        <li><a th:href="@{/contact}">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 mt-lg-0 mt-4 ps-lg-5">
                    <h6 class="footer-title-29">Subscribe</h6>


                    <a href="https://www.facebook.com/bitc.club" class="footer_btn">EXPLORE THE CLUB NOW</a>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer block -->
</body>

</html>